FROM balenalib/rpi-raspbian:buster

# Install required packages
RUN apt-get update -q \
  && DEBIAN_FRONTEND=noninteractive apt-get install -yq --no-install-recommends \
      apt-utils \
      build-essential \
      ca-certificates \
      gettext \
      locales \
      zlib1g-dev \
      libssl-dev \
      libcurl4-openssl-dev

RUN echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
RUN locale-gen en_US.UTF-8
ENV LANG en_US.UTF-8
ENV LANGUAGE en_US:en
ENV LC_ALL en_US.UTF-8

RUN update-ca-certificates -f

<%= Snippets.new(include: %w[versions git], platform: 'armv7').populate %>
