FROM ubuntu:24.04 as builder

# Install required packages
RUN apt-get update -q \
  && DEBIAN_FRONTEND=noninteractive apt-get install -yq --no-install-recommends \
      build-essential \
      autoconf \
      automake \
      autopoint \
      zlib1g-dev \
      byacc \
      clang \
      git \
      gcc \
      g++ \
      libclang-dev \
      libssl-dev \
      libyaml-dev \
      libffi-dev \
      libkrb5-dev \
      libreadline-dev \
      libgdbm-dev \
      libncurses5-dev \
      libgcrypt20-dev \
      llvm-dev \
      make \
      bzip2 \
      curl \
      libcurl4-openssl-dev \
      ca-certificates \
      locales \
      openssh-server \
      libexpat1-dev \
      gettext \
      libz-dev \
      fakeroot \
      ccache \
      distcc \
      unzip \
      tzdata \
      apt-transport-https \
      gnupg \
      pkg-config \
      python3 \
      file \
      gcc-10 \
      g++-10

RUN echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
RUN locale-gen en_US.UTF-8
ENV LANG en_US.UTF-8
ENV LANGUAGE en_US:en
ENV LC_ALL en_US.UTF-8

<%= Snippets.new(include: %w[versions openssl]).populate %>

ENV RUBY_CONFIGURE_EXTRA_OPTS='--with-openssl-dir=/usr/local/openssl'

<%= Snippets.new(platform: 'arm64').populate %>

FROM ubuntu:24.04

LABEL org.opencontainers.image.authors="GitLab Inc. <support@gitlab.com>"

COPY --from=builder / /
